

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-img {
  width: 65%;
  height: 200px;
  object-fit: cover;
}
.hero-content {
  max-width: 30%;
}

.hero h1 {
	font-size:1.5rem;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
}

.explore-btn {
  padding: 10px 20px;
  background-color: #e60023;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}


